# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.next
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.next/BUILD_ID
.next/build-manifest.json
.next/export-marker.json
.next/images-manifest.json
.next/next-server.js.nft.json
.next/package.json
.next/prerender-manifest.json
.next/react-loadable-manifest.json
.next/required-server-files.json
.next/routes-manifest.json
.next/trace
.next/cache/next-server.js.nft.json
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/index.pack
.next/server/font-manifest.json
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/pages-manifest.json
.next/server/webpack-runtime.js
.next/server/chunks/font-manifest.json
.next/server/pages/_app.js
.next/server/pages/_app.js.nft.json
.next/server/pages/_document.js
.next/server/pages/_document.js.nft.json
.next/server/pages/_error.js
.next/server/pages/_error.js.nft.json
.next/server/pages/404.html
.next/server/pages/500.html
.next/server/pages/index.html
.next/server/pages/index.js.nft.json
.next/static/-7Vysd1iIcF24HijkAqUS/_buildManifest.js
.next/static/-7Vysd1iIcF24HijkAqUS/_ssgManifest.js
.next/static/chunks/framework-84154cdd319403d1.js
.next/static/chunks/main-18053c3f67c4d467.js
.next/static/chunks/polyfills-c67a75d1b6f99dc8.js
.next/static/chunks/webpack-fd82975a6094609f.js
.next/static/chunks/pages/_app-dc14f8483464b560.js
.next/static/chunks/pages/_error-942918685354aae9.js
.next/static/chunks/pages/index-aa812907137043d7.js
.next/cache/eslint/.cache_1lzwltr
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/client-production/1.pack
.next/cache/webpack/client-production/2.pack
.next/cache/webpack/client-production/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/cache/webpack/server-production/1.pack
.next/cache/webpack/server-production/index.pack.old
.next/server/pages/index.js
.next/static/chunks/amp.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/index.js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/webpack/90c11a085b3d8916.webpack.hot-update.json
.next/static/webpack/webpack.90c11a085b3d8916.hot-update.js
node_modules/.bin/acorn
node_modules/.bin/acorn.cmd
node_modules/.bin/ts-node
node_modules/.bin/ts-node-cwd
node_modules/.bin/ts-node-cwd.cmd
node_modules/.bin/ts-node-esm
node_modules/.bin/ts-node-esm.cmd
node_modules/.bin/ts-node-script
node_modules/.bin/ts-node-script.cmd
node_modules/.bin/ts-node-transpile-only
node_modules/.bin/ts-node-transpile-only.cmd
node_modules/.bin/ts-node.cmd
node_modules/.bin/ts-script
node_modules/.bin/ts-script.cmd
node_modules/.bin/tsc
node_modules/.bin/tsc.cmd
node_modules/.bin/tsserver
node_modules/.bin/tsserver.cmd
node_modules/acorn/CHANGELOG.md
node_modules/acorn/LICENSE
node_modules/acorn/package.json
node_modules/acorn/README.md
node_modules/acorn/bin/acorn
node_modules/acorn/dist/acorn.d.ts
node_modules/acorn/dist/acorn.js
node_modules/acorn/dist/acorn.mjs
node_modules/acorn/dist/acorn.mjs.d.ts
node_modules/acorn/dist/bin.js
node_modules/ts-node/child-loader.mjs
node_modules/ts-node/esm.mjs
node_modules/ts-node/LICENSE
node_modules/ts-node/package.json
node_modules/ts-node/README.md
node_modules/ts-node/tsconfig.schema.json
node_modules/ts-node/tsconfig.schemastore-schema.json
node_modules/ts-node/dist/bin-cwd.d.ts
node_modules/ts-node/dist/bin-cwd.js
node_modules/ts-node/dist/bin-esm.d.ts
node_modules/ts-node/dist/bin-esm.js
node_modules/ts-node/dist/bin-script-deprecated.d.ts
node_modules/ts-node/dist/bin-script-deprecated.js
node_modules/ts-node/dist/bin-script.d.ts
node_modules/ts-node/dist/bin-script.js
node_modules/ts-node/dist/bin-transpile.d.ts
node_modules/ts-node/dist/bin-transpile.js
node_modules/ts-node/dist/bin.d.ts
node_modules/ts-node/dist/bin.js
node_modules/ts-node/dist/cjs-resolve-hooks.d.ts
node_modules/ts-node/dist/cjs-resolve-hooks.js
node_modules/ts-node/dist/configuration.d.ts
node_modules/ts-node/dist/configuration.js
node_modules/ts-node/dist/esm.d.ts
node_modules/ts-node/dist/esm.js
node_modules/ts-node/dist/file-extensions.d.ts
node_modules/ts-node/dist/file-extensions.js
node_modules/ts-node/dist/index.d.ts
node_modules/ts-node/dist/index.js
node_modules/ts-node/dist/module-type-classifier.d.ts
node_modules/ts-node/dist/module-type-classifier.js
node_modules/ts-node/dist/node-module-type-classifier.d.ts
node_modules/ts-node/dist/node-module-type-classifier.js
node_modules/ts-node/dist/repl.d.ts
node_modules/ts-node/dist/repl.js
node_modules/ts-node/dist/resolver-functions.d.ts
node_modules/ts-node/dist/resolver-functions.js
node_modules/ts-node/dist/ts-compiler-types.d.ts
node_modules/ts-node/dist/ts-compiler-types.js
node_modules/ts-node/dist/ts-internals.d.ts
node_modules/ts-node/dist/ts-internals.js
node_modules/ts-node/dist/ts-transpile-module.d.ts
node_modules/ts-node/dist/ts-transpile-module.js
node_modules/ts-node/dist/tsconfig-schema.d.ts
node_modules/ts-node/dist/tsconfig-schema.js
node_modules/ts-node/dist/tsconfigs.d.ts
node_modules/ts-node/dist/tsconfigs.js
node_modules/ts-node/dist/util.d.ts
node_modules/ts-node/dist/util.js
node_modules/ts-node/dist/child/argv-payload.d.ts
node_modules/ts-node/dist/child/argv-payload.js
node_modules/ts-node/dist/child/child-entrypoint.d.ts
node_modules/ts-node/dist/child/child-entrypoint.js
node_modules/ts-node/dist/child/child-loader.d.ts
node_modules/ts-node/dist/child/child-loader.js
node_modules/ts-node/dist/child/child-require.d.ts
node_modules/ts-node/dist/child/child-require.js
node_modules/ts-node/dist/child/spawn-child.d.ts
node_modules/ts-node/dist/child/spawn-child.js
node_modules/ts-node/dist/transpilers/swc.d.ts
node_modules/ts-node/dist/transpilers/swc.js
node_modules/ts-node/dist/transpilers/types.d.ts
node_modules/ts-node/dist/transpilers/types.js
node_modules/ts-node/dist-raw/node-internal-constants.js
node_modules/ts-node/dist-raw/node-internal-errors.js
node_modules/ts-node/dist-raw/node-internal-modules-cjs-helpers.js
node_modules/ts-node/dist-raw/node-internal-modules-cjs-loader.js
node_modules/ts-node/dist-raw/node-internal-modules-esm-get_format.js
node_modules/ts-node/dist-raw/node-internal-modules-esm-resolve.js
node_modules/ts-node/dist-raw/node-internal-modules-package_json_reader.js
node_modules/ts-node/dist-raw/node-internal-repl-await.js
node_modules/ts-node/dist-raw/node-internalBinding-fs.js
node_modules/ts-node/dist-raw/NODE-LICENSE.md
node_modules/ts-node/dist-raw/node-nativemodule.js
node_modules/ts-node/dist-raw/node-options.js
node_modules/ts-node/dist-raw/node-primordials.js
node_modules/ts-node/dist-raw/README.md
node_modules/ts-node/dist-raw/runmain-hack.js
node_modules/ts-node/esm/transpile-only.mjs
node_modules/ts-node/node10/tsconfig.json
node_modules/ts-node/node12/tsconfig.json
node_modules/ts-node/node14/tsconfig.json
node_modules/ts-node/node16/tsconfig.json
node_modules/ts-node/node_modules/.bin/acorn
node_modules/ts-node/node_modules/.bin/acorn.cmd
node_modules/ts-node/node_modules/.bin/tsc
node_modules/ts-node/node_modules/.bin/tsc.cmd
node_modules/ts-node/node_modules/.bin/tsserver
node_modules/ts-node/node_modules/.bin/tsserver.cmd
node_modules/ts-node/register/files.js
node_modules/ts-node/register/index.js
node_modules/ts-node/register/transpile-only.js
node_modules/ts-node/register/type-check.js
node_modules/ts-node/transpilers/swc-experimental.js
node_modules/ts-node/transpilers/swc.js
node_modules/typescript/package.json
node_modules/typescript/SECURITY.md
node_modules/typescript/bin/tsc
node_modules/typescript/bin/tsserver
node_modules/typescript/lib/cancellationToken.js
node_modules/typescript/lib/dynamicImportCompat.js
node_modules/typescript/lib/lib.d.ts
node_modules/typescript/lib/lib.dom.d.ts
node_modules/typescript/lib/lib.dom.iterable.d.ts
node_modules/typescript/lib/lib.es5.d.ts
node_modules/typescript/lib/lib.es6.d.ts
node_modules/typescript/lib/lib.es2015.collection.d.ts
node_modules/typescript/lib/lib.es2015.core.d.ts
node_modules/typescript/lib/lib.es2015.d.ts
node_modules/typescript/lib/lib.es2015.generator.d.ts
node_modules/typescript/lib/lib.es2015.iterable.d.ts
node_modules/typescript/lib/lib.es2015.promise.d.ts
node_modules/typescript/lib/lib.es2015.proxy.d.ts
node_modules/typescript/lib/lib.es2015.reflect.d.ts
node_modules/typescript/lib/lib.es2015.symbol.d.ts
node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
node_modules/typescript/lib/lib.es2016.array.include.d.ts
node_modules/typescript/lib/lib.es2016.d.ts
node_modules/typescript/lib/lib.es2016.full.d.ts
node_modules/typescript/lib/lib.es2017.d.ts
node_modules/typescript/lib/lib.es2017.full.d.ts
node_modules/typescript/lib/lib.es2017.intl.d.ts
node_modules/typescript/lib/lib.es2017.object.d.ts
node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
node_modules/typescript/lib/lib.es2017.string.d.ts
node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
node_modules/typescript/lib/lib.es2018.d.ts
node_modules/typescript/lib/lib.es2018.full.d.ts
node_modules/typescript/lib/lib.es2018.intl.d.ts
node_modules/typescript/lib/lib.es2018.promise.d.ts
node_modules/typescript/lib/lib.es2018.regexp.d.ts
node_modules/typescript/lib/lib.es2019.array.d.ts
node_modules/typescript/lib/lib.es2019.d.ts
node_modules/typescript/lib/lib.es2019.full.d.ts
node_modules/typescript/lib/lib.es2019.intl.d.ts
node_modules/typescript/lib/lib.es2019.object.d.ts
node_modules/typescript/lib/lib.es2019.string.d.ts
node_modules/typescript/lib/lib.es2019.symbol.d.ts
node_modules/typescript/lib/lib.es2020.bigint.d.ts
node_modules/typescript/lib/lib.es2020.d.ts
node_modules/typescript/lib/lib.es2020.date.d.ts
node_modules/typescript/lib/lib.es2020.full.d.ts
node_modules/typescript/lib/lib.es2020.intl.d.ts
node_modules/typescript/lib/lib.es2020.number.d.ts
node_modules/typescript/lib/lib.es2020.promise.d.ts
node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
node_modules/typescript/lib/lib.es2020.string.d.ts
node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
node_modules/typescript/lib/lib.es2021.d.ts
node_modules/typescript/lib/lib.es2021.full.d.ts
node_modules/typescript/lib/lib.es2021.intl.d.ts
node_modules/typescript/lib/lib.es2021.promise.d.ts
node_modules/typescript/lib/lib.es2021.string.d.ts
node_modules/typescript/lib/lib.es2021.weakref.d.ts
node_modules/typescript/lib/lib.es2022.array.d.ts
node_modules/typescript/lib/lib.es2022.d.ts
node_modules/typescript/lib/lib.es2022.error.d.ts
node_modules/typescript/lib/lib.es2022.full.d.ts
node_modules/typescript/lib/lib.es2022.intl.d.ts
node_modules/typescript/lib/lib.es2022.object.d.ts
node_modules/typescript/lib/lib.es2022.sharedmemory.d.ts
node_modules/typescript/lib/lib.es2022.string.d.ts
node_modules/typescript/lib/lib.esnext.d.ts
node_modules/typescript/lib/lib.esnext.full.d.ts
node_modules/typescript/lib/lib.esnext.intl.d.ts
node_modules/typescript/lib/lib.esnext.promise.d.ts
node_modules/typescript/lib/lib.esnext.string.d.ts
node_modules/typescript/lib/lib.esnext.weakref.d.ts
node_modules/typescript/lib/lib.scripthost.d.ts
node_modules/typescript/lib/lib.webworker.d.ts
node_modules/typescript/lib/lib.webworker.importscripts.d.ts
node_modules/typescript/lib/lib.webworker.iterable.d.ts
node_modules/typescript/lib/protocol.d.ts
node_modules/typescript/lib/README.md
node_modules/typescript/lib/tsc.js
node_modules/typescript/lib/tsserver.js
node_modules/typescript/lib/tsserverlibrary.d.ts
node_modules/typescript/lib/tsserverlibrary.js
node_modules/typescript/lib/typescript.d.ts
node_modules/typescript/lib/typescript.js
node_modules/typescript/lib/typescriptServices.d.ts
node_modules/typescript/lib/typescriptServices.js
node_modules/typescript/lib/typingsInstaller.js
node_modules/typescript/lib/watchGuard.js
node_modules/typescript/lib/cs/diagnosticMessages.generated.json
node_modules/typescript/lib/de/diagnosticMessages.generated.json
node_modules/typescript/lib/es/diagnosticMessages.generated.json
node_modules/typescript/lib/fr/diagnosticMessages.generated.json
node_modules/typescript/lib/it/diagnosticMessages.generated.json
node_modules/typescript/lib/ja/diagnosticMessages.generated.json
node_modules/typescript/lib/ko/diagnosticMessages.generated.json
node_modules/typescript/lib/pl/diagnosticMessages.generated.json
node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
node_modules/typescript/lib/ru/diagnosticMessages.generated.json
node_modules/typescript/lib/tr/diagnosticMessages.generated.json
node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
node_modules/.bin/acorn
node_modules/.bin/acorn.cmd
node_modules/.bin/ts-node
node_modules/.bin/ts-node-cwd
node_modules/.bin/ts-node-cwd.cmd
node_modules/.bin/ts-node-esm
node_modules/.bin/ts-node-esm.cmd
node_modules/.bin/ts-node-script
node_modules/.bin/ts-node-script.cmd
node_modules/.bin/ts-node-transpile-only
node_modules/.bin/ts-node-transpile-only.cmd
node_modules/.bin/ts-node.cmd
node_modules/.bin/ts-script
node_modules/.bin/ts-script.cmd
node_modules/.bin/tsc
node_modules/.bin/tsc.cmd
node_modules/.bin/tsserver
node_modules/.bin/tsserver.cmd
node_modules/acorn/CHANGELOG.md
node_modules/acorn/LICENSE
node_modules/acorn/package.json
node_modules/acorn/README.md
node_modules/acorn/bin/acorn
node_modules/acorn/dist/acorn.d.ts
node_modules/acorn/dist/acorn.js
node_modules/acorn/dist/acorn.mjs
node_modules/acorn/dist/acorn.mjs.d.ts
node_modules/acorn/dist/bin.js
node_modules/ts-node/child-loader.mjs
node_modules/ts-node/esm.mjs
node_modules/ts-node/LICENSE
node_modules/ts-node/package.json
node_modules/ts-node/README.md
node_modules/ts-node/tsconfig.schema.json
node_modules/ts-node/tsconfig.schemastore-schema.json
node_modules/ts-node/dist/bin-cwd.d.ts
node_modules/ts-node/dist/bin-cwd.js
node_modules/ts-node/dist/bin-esm.d.ts
node_modules/ts-node/dist/bin-esm.js
node_modules/ts-node/dist/bin-script-deprecated.d.ts
node_modules/ts-node/dist/bin-script-deprecated.js
node_modules/ts-node/dist/bin-script.d.ts
node_modules/ts-node/dist/bin-script.js
node_modules/ts-node/dist/bin-transpile.d.ts
node_modules/ts-node/dist/bin-transpile.js
node_modules/ts-node/dist/bin.d.ts
node_modules/ts-node/dist/bin.js
node_modules/ts-node/dist/cjs-resolve-hooks.d.ts
node_modules/ts-node/dist/cjs-resolve-hooks.js
node_modules/ts-node/dist/configuration.d.ts
node_modules/ts-node/dist/configuration.js
node_modules/ts-node/dist/esm.d.ts
node_modules/ts-node/dist/esm.js
node_modules/ts-node/dist/file-extensions.d.ts
node_modules/ts-node/dist/file-extensions.js
node_modules/ts-node/dist/index.d.ts
node_modules/ts-node/dist/index.js
node_modules/ts-node/dist/module-type-classifier.d.ts
node_modules/ts-node/dist/module-type-classifier.js
node_modules/ts-node/dist/node-module-type-classifier.d.ts
node_modules/ts-node/dist/node-module-type-classifier.js
node_modules/ts-node/dist/repl.d.ts
node_modules/ts-node/dist/repl.js
node_modules/ts-node/dist/resolver-functions.d.ts
node_modules/ts-node/dist/resolver-functions.js
node_modules/ts-node/dist/ts-compiler-types.d.ts
node_modules/ts-node/dist/ts-compiler-types.js
node_modules/ts-node/dist/ts-internals.d.ts
node_modules/ts-node/dist/ts-internals.js
node_modules/ts-node/dist/ts-transpile-module.d.ts
node_modules/ts-node/dist/ts-transpile-module.js
node_modules/ts-node/dist/tsconfig-schema.d.ts
node_modules/ts-node/dist/tsconfig-schema.js
node_modules/ts-node/dist/tsconfigs.d.ts
node_modules/ts-node/dist/tsconfigs.js
node_modules/ts-node/dist/util.d.ts
node_modules/ts-node/dist/util.js
node_modules/ts-node/dist/child/argv-payload.d.ts
node_modules/ts-node/dist/child/argv-payload.js
node_modules/ts-node/dist/child/child-entrypoint.d.ts
node_modules/ts-node/dist/child/child-entrypoint.js
node_modules/ts-node/dist/child/child-loader.d.ts
node_modules/ts-node/dist/child/child-loader.js
node_modules/ts-node/dist/child/child-require.d.ts
node_modules/ts-node/dist/child/child-require.js
node_modules/ts-node/dist/child/spawn-child.d.ts
node_modules/ts-node/dist/child/spawn-child.js
node_modules/ts-node/dist/transpilers/swc.d.ts
node_modules/ts-node/dist/transpilers/swc.js
node_modules/ts-node/dist/transpilers/types.d.ts
node_modules/ts-node/dist/transpilers/types.js
node_modules/ts-node/dist-raw/node-internal-constants.js
node_modules/ts-node/dist-raw/node-internal-errors.js
node_modules/ts-node/dist-raw/node-internal-modules-cjs-helpers.js
node_modules/ts-node/dist-raw/node-internal-modules-cjs-loader.js
node_modules/ts-node/dist-raw/node-internal-modules-esm-get_format.js
node_modules/ts-node/dist-raw/node-internal-modules-esm-resolve.js
node_modules/ts-node/dist-raw/node-internal-modules-package_json_reader.js
node_modules/ts-node/dist-raw/node-internal-repl-await.js
node_modules/ts-node/dist-raw/node-internalBinding-fs.js
node_modules/ts-node/dist-raw/NODE-LICENSE.md
node_modules/ts-node/dist-raw/node-nativemodule.js
node_modules/ts-node/dist-raw/node-options.js
node_modules/ts-node/dist-raw/node-primordials.js
node_modules/ts-node/dist-raw/README.md
node_modules/ts-node/dist-raw/runmain-hack.js
node_modules/ts-node/esm/transpile-only.mjs
node_modules/ts-node/node10/tsconfig.json
node_modules/ts-node/node12/tsconfig.json
node_modules/ts-node/node14/tsconfig.json
node_modules/ts-node/node16/tsconfig.json
node_modules/ts-node/node_modules/.bin/acorn
node_modules/ts-node/node_modules/.bin/acorn.cmd
node_modules/ts-node/node_modules/.bin/tsc
node_modules/ts-node/node_modules/.bin/tsc.cmd
node_modules/ts-node/node_modules/.bin/tsserver
node_modules/ts-node/node_modules/.bin/tsserver.cmd
node_modules/ts-node/register/files.js
node_modules/ts-node/register/index.js
node_modules/ts-node/register/transpile-only.js
node_modules/ts-node/register/type-check.js
node_modules/ts-node/transpilers/swc-experimental.js
node_modules/ts-node/transpilers/swc.js
node_modules/typescript/package.json
node_modules/typescript/SECURITY.md
node_modules/typescript/bin/tsc
node_modules/typescript/bin/tsserver
node_modules/typescript/lib/cancellationToken.js
node_modules/typescript/lib/dynamicImportCompat.js
node_modules/typescript/lib/lib.d.ts
node_modules/typescript/lib/lib.dom.d.ts
node_modules/typescript/lib/lib.dom.iterable.d.ts
node_modules/typescript/lib/lib.es5.d.ts
node_modules/typescript/lib/lib.es6.d.ts
node_modules/typescript/lib/lib.es2015.collection.d.ts
node_modules/typescript/lib/lib.es2015.core.d.ts
node_modules/typescript/lib/lib.es2015.d.ts
node_modules/typescript/lib/lib.es2015.generator.d.ts
node_modules/typescript/lib/lib.es2015.iterable.d.ts
node_modules/typescript/lib/lib.es2015.promise.d.ts
node_modules/typescript/lib/lib.es2015.proxy.d.ts
node_modules/typescript/lib/lib.es2015.reflect.d.ts
node_modules/typescript/lib/lib.es2015.symbol.d.ts
node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
node_modules/typescript/lib/lib.es2016.array.include.d.ts
node_modules/typescript/lib/lib.es2016.d.ts
node_modules/typescript/lib/lib.es2016.full.d.ts
node_modules/typescript/lib/lib.es2017.d.ts
node_modules/typescript/lib/lib.es2017.full.d.ts
node_modules/typescript/lib/lib.es2017.intl.d.ts
node_modules/typescript/lib/lib.es2017.object.d.ts
node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
node_modules/typescript/lib/lib.es2017.string.d.ts
node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
node_modules/typescript/lib/lib.es2018.d.ts
node_modules/typescript/lib/lib.es2018.full.d.ts
node_modules/typescript/lib/lib.es2018.intl.d.ts
node_modules/typescript/lib/lib.es2018.promise.d.ts
node_modules/typescript/lib/lib.es2018.regexp.d.ts
node_modules/typescript/lib/lib.es2019.array.d.ts
node_modules/typescript/lib/lib.es2019.d.ts
node_modules/typescript/lib/lib.es2019.full.d.ts
node_modules/typescript/lib/lib.es2019.intl.d.ts
node_modules/typescript/lib/lib.es2019.object.d.ts
node_modules/typescript/lib/lib.es2019.string.d.ts
node_modules/typescript/lib/lib.es2019.symbol.d.ts
node_modules/typescript/lib/lib.es2020.bigint.d.ts
node_modules/typescript/lib/lib.es2020.d.ts
node_modules/typescript/lib/lib.es2020.date.d.ts
node_modules/typescript/lib/lib.es2020.full.d.ts
node_modules/typescript/lib/lib.es2020.intl.d.ts
node_modules/typescript/lib/lib.es2020.number.d.ts
node_modules/typescript/lib/lib.es2020.promise.d.ts
node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
node_modules/typescript/lib/lib.es2020.string.d.ts
node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
node_modules/typescript/lib/lib.es2021.d.ts
node_modules/typescript/lib/lib.es2021.full.d.ts
node_modules/typescript/lib/lib.es2021.intl.d.ts
node_modules/typescript/lib/lib.es2021.promise.d.ts
node_modules/typescript/lib/lib.es2021.string.d.ts
node_modules/typescript/lib/lib.es2021.weakref.d.ts
node_modules/typescript/lib/lib.es2022.array.d.ts
node_modules/typescript/lib/lib.es2022.d.ts
node_modules/typescript/lib/lib.es2022.error.d.ts
node_modules/typescript/lib/lib.es2022.full.d.ts
node_modules/typescript/lib/lib.es2022.intl.d.ts
node_modules/typescript/lib/lib.es2022.object.d.ts
node_modules/typescript/lib/lib.es2022.sharedmemory.d.ts
node_modules/typescript/lib/lib.es2022.string.d.ts
node_modules/typescript/lib/lib.esnext.d.ts
node_modules/typescript/lib/lib.esnext.full.d.ts
node_modules/typescript/lib/lib.esnext.intl.d.ts
node_modules/typescript/lib/lib.esnext.promise.d.ts
node_modules/typescript/lib/lib.esnext.string.d.ts
node_modules/typescript/lib/lib.esnext.weakref.d.ts
node_modules/typescript/lib/lib.scripthost.d.ts
node_modules/typescript/lib/lib.webworker.d.ts
node_modules/typescript/lib/lib.webworker.importscripts.d.ts
node_modules/typescript/lib/lib.webworker.iterable.d.ts
node_modules/typescript/lib/protocol.d.ts
node_modules/typescript/lib/README.md
node_modules/typescript/lib/tsc.js
node_modules/typescript/lib/tsserver.js
node_modules/typescript/lib/tsserverlibrary.d.ts
node_modules/typescript/lib/tsserverlibrary.js
node_modules/typescript/lib/typescript.d.ts
node_modules/typescript/lib/typescript.js
node_modules/typescript/lib/typescriptServices.d.ts
node_modules/typescript/lib/typescriptServices.js
node_modules/typescript/lib/typingsInstaller.js
node_modules/typescript/lib/watchGuard.js
node_modules/typescript/lib/cs/diagnosticMessages.generated.json
node_modules/typescript/lib/de/diagnosticMessages.generated.json
node_modules/typescript/lib/es/diagnosticMessages.generated.json
node_modules/typescript/lib/fr/diagnosticMessages.generated.json
node_modules/typescript/lib/it/diagnosticMessages.generated.json
node_modules/typescript/lib/ja/diagnosticMessages.generated.json
node_modules/typescript/lib/ko/diagnosticMessages.generated.json
node_modules/typescript/lib/pl/diagnosticMessages.generated.json
node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
node_modules/typescript/lib/ru/diagnosticMessages.generated.json
node_modules/typescript/lib/tr/diagnosticMessages.generated.json
node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
node_modules/.bin/ts-node-script
node_modules/.bin/acorn
node_modules/.bin/acorn.cmd
node_modules/.bin/ts-node
node_modules/*
node_modules/.bin/acorn
